.main {
  padding: 1.2rem;
  background-color: #f8f8f8; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.siteName {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.icon {
  width: 2rem;
  height: auto;
  border-radius: 7px;
}
